{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <p class="WebQuotes">WebQuotes</p>
            <nav>
                <a href="..">HOME</a>
                <a href="../../../../../popular">POPULAR</a>
                <a href="../../../../../addquote">NEW QUOTE</a>
            </nav>
            <a class="login" href="../../../authenticate"><img src="{% static 'randomquote/images/login_icon.png' %}"></a> 
        </header>
        <div class="main">
            <div class="auth_complete">
                <h2>Authentication Complete</h2>
            </div>
            <form id="auth" action="logout/" method="post">
                <input id="submit_btn" class="submit_button" type="submit" value="Log Out">
                {% csrf_token %}
                <script>
                    $("#auth").submit(function(event) {
                        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                        const request = new Request(
                            url='logout/',
                            {headers: {'X-CSRFToken': csrftoken}}
                        );
                        event.preventDefault();
                        fetch(
                                request, {
                                method: "POST",
                        })
                        disableButton();
                    });

                    function disableButton() {
                        document.getElementById("submit_btn").disabled = true;
                        document.getElementById("submit_btn").innerText = "Submited";
                    }
                </script>
            </form>
        </div>
    </body>
</html>