{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <p class="WebQuotes">WebQuotes</p>
            <nav>
                <a href="..">HOME</a>
                <a href="../../../popular">POPULAR</a>
                <a href="../../../addquote">NEW QUOTE</a>
            </nav>
            <a class="login" href="../../../authenticate"><img src="{% static 'randomquote/images/login_icon.png' %}"></a>  
        </header>
        <div class="main">
            <h2>Registration</h2>
            <form id="auth" action="auth/" method="post">
                <button type="submit" disabled style="display: none" aria-hidden="true"></button>
                <legend>Please, fill in the form below to registrate.</legend>
                <hr>
                <div id="result" class="submit_message"><p></p></div>
                <input id="username_f" type="text" class="general_field" placeholder="Username" required>
                <input id="password_f" class="general_field" placeholder="Password" required>
                <input id="submit_btn" class="submit_button" type="submit" value="Registrate">
                {% csrf_token %}
                <script>
                    $("#auth").submit(function(event) {
                        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                        const request = new Request(
                            url='reg/',
                            {headers: {'X-CSRFToken': csrftoken}}
                        );
                        event.preventDefault();
                        fetch(
                                request, {
                                method: "POST",
                                body: JSON.stringify({
                                    username: $('#username_f').val(), 
                                    password: $('#password_f').val(),
                                })
                        }).then( res => res.json().then(data => ({status: res.status, body: data}))).then(obj => console.log(obj.body) || draw(obj))
                    });

                    function draw(obj){
                        disableButton()
                        msg = obj.body["message"];
                        success = obj.body["success"];
                        console.log(msg, success);
                        if(success){
                            $('#result').addClass("submit_message_success");
                            $('#result').removeClass("submit_message_fail");
                        }
                        else{
                            $('#result').addClass("submit_message_fail");
                            $('#result').removeClass("submit_message_success");
                        }
                        $('#result > p').text(((msg)));
                    }

                    function disableButton() {
                        document.getElementById("submit_btn").disabled = true;
                        document.getElementById("submit_btn").innerText = "Submited";
                    }
                </script>
            </form>
        </div>
    </body>
</html>